    <div class="card-group" style="width:322px;height:398px;">
      <div class="card" style="height:900px;">
        <img class="card-img-top w-100 d-block" style="height:218px;" src="{{this.path}}" alt={{this.originalName}}>
        <label class="d-flex justify-content-center title1" style="padding:6px;">Compatibility Score</label><span
          class="badge badge-primary d-flex justify-content-center align-items-center align-content-center align-self-center"
          style="height:26px;font-size:17px;width:147px;">42</span>
        <div class="card-body">
          <h4 class="card-title title1">{{this.title}}</h4>
          <h6 class="card-title title2">{{this.date}}</h6>
          <h6 class="card-title title2">{{this.city}}/{{this.state}}</h6>
          <h6 class="card-title title2">{{this.address}}</h6>
          <p class="card-text description">{{this.description}}</p>
          <a class="btn btn-primary" href="http://{{this.link}}">Buy</a>
          <a class="btn" href="mailto:{{this.email}}">Contact</a>
        </div>
      </div>
    </div>

  